body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.jumbotron {
	color: #390441;
	background: #e0b9e4;
}

.price {
    font-weight: bold;
    text-align: center;
}
.wname {
    text-align: center;
}

.navbar-inverse {
	background: #684f6e;
}


.navbar-inverse .navbar-nav>li>a:hover {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    background-color: rgb(84, 150, 146);
}
.navbar-inverse .navbar-brand:hover {
    color: white;
    background-color: rgb(84, 150, 146);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.button_1{
    height: 38px;
    background:  #4CAF50;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-radius: 4px;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Newsletter */

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6
}

article#main-col{
    float: left;
    width: 65%;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}



footer {
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #684f6e;
    text-align: center;
}

.footer-social-info {
    text-align: center;
    font-size: 40px;
}

#foot, .fol {
    text-align: center;
}

.map {
    border-radius: 8px;
    max-width: 30%;
    height: auto;
}


.form-foot {
    max-width: 40%;
    height: auto;
}

form .row {
    padding: 2% 20% 2% 20%;
}

.cont  {
    font-size: 120%;
}

.bs-example {
    padding: 2% 30% 10% 30%;
}

/* Style inputs, select elements and textareas */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  article#main-col,
  aside#sidebar{
      float: none;
      text-align: center;
      width: 100%;
  }


  #newsletter button, .quote button{
    display: block;
    width: 100%;
}

#newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
}
}